<div class="item"> 
  <div>Nome Completo</div>
  <div class="input">
    <input 
      type="text"
      name="name"
      placeholder="Introduza seu nome completo"
      value ="{{ user.name }}"
      required
    >
  </div>
</div>

<div class="item"> 
  <div>Email</div>
  <div class="input">
    <input 
      type="email"
      name="email"
      placeholder="Introduza seu email"
      value ="{{ user.email }}"
      onblur="Validate.apply(this, 'isEmail')"
      >
  </div>
</div>

<div class="item"> 
  <div>Senha</div>
  <div class="input">
    <input 
      type="password"
      name="password"
      {% if not user.id %}
        placeholder="Escolha uma senha segura"
      {% else %}
        placeholder="Introduza sua senha para atualizar o seu registo"
      {% endif %}
    >
  </div>
</div>

{% if not user.id %}
  <div class="item"> 
    <div>Repetir Senha</div>
    <div class="input">
      <input 
        type="password"
        name="passwordRepeat"
        placeholder="Repita a senha escolhida"
      >
    </div>
  </div>

  {% endif %}

<div class="item"> 
  <div>NIF</div>
  <div class="input">
    <input 
      type="text"
      name="nif"
      placeholder="Introduza o seu NIF"
      value ="{{ user.nif }}"
      onkeydown="Mask.apply(this, 'nif')"
      onblur="Validate.apply(this, 'isNif')"

    >
  </div>
</div>


<div class="item"> 
  <div>Endereço Completo</div>
  <div class="input">
    <input 
      type="text"
      name="address"
      placeholder="Introduza seu endereço completo"
      value ="{{ user.address }}"
      required
    >
  </div>
</div>
